# Python
__pycache__/
*.py[cod]
*.sqlite3

# Virtual environments
.venv/
venv/
backend/.venv/

# Environment files
.env
backend/.env

# Django static/media build output
staticfiles/
backend/staticfiles/
